@model UserViewModel

<h2>Details</h2>
<hr />
<div class="clearfix">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>@Model.Roles</td>
                </tr>
                <tr>
                    <th>Accepts GDPR Policy</th>
                    <td> @Html.DisplayFor(model => model.GDPR)</td>
                </tr>
                <tr>
                    <th>Is Not Active</th>
                    <td>@Html.DisplayFor(model => model.isDeleted)</td>
                </tr>
                <tr>
                    <th>Created On</th>
                    <td>@Model.CreatedOn</td>
                </tr>
                <tr>
                    <th>Modified On</th>
                    <td>@Model.ModifiedOn</td>
                </tr>
                <tr>
                    <th>Registered Sensors</th>
                    <td>
                        @foreach (var sensor in Model.Sensors)
                        {
                            <p> @sensor.Name</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


