@model UserModel

<h2>Details</h2>
<hr />
<div class="clearfix">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>@Model.Roles</td>
                </tr>
                <tr>
                    <th>Accepts GDPR Policy</th>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input asp-for="@Model.GDPR" />
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    @if (Model.IsDeleted)
                    {
                        <td>Deleted</td>
                    }
                    else
                    {
                        <td>Active</td>
                    }
                </tr>
                <tr>
                    <th>Deleted On</th>
                    <td>@Model.DeletedOn</td>
                </tr>
                <tr>
                    <th>Created On</th>
                    <td>@Model.CreatedOn</td>
                </tr>
                <tr>
                    <th>Modified On</th>
                    <td>@Model.ModifiedOn</td>
                </tr>
                <tr>
                    <th>Registered Sensors</th>
                    <td>
                        @foreach (var sensor in Model.Sensors)
                        {
                            <p>@sensor.Name</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@if (Model.IsDeleted)
{
    <div>
        <a asp-area="Admin" asp-controller="ManageUsers" asp-action="DeleteUser" asp-route-id="@Model.Id"
           class="btn btn-info disabled" role="button">Delete</a>
    </div>
}
else
{
    <div>
        <a asp-area="Admin" asp-controller="ManageUsers" asp-action="DeleteUser" asp-route-id="@Model.Id"
           class="btn btn-info active" role="button">Delete</a>
    </div>
}

<div>
    <a asp-controller="Home" asp-action="Index">Back to Admin panel</a>
</div>