@model UserModel

<h2>Details</h2>
<hr />
<div class="clearfix">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>@Model.Roles</td>
                </tr>
                <tr>
                    <th>Accepts GDPR Policy</th>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input asp-for="@Model.GDPR" />
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    @if (Model.IsDeleted)
                    {
                        <td>Deleted</td>
                    }
                    else
                    {
                        <td>Active</td>
                    }
                </tr>
                <tr>
                    <th>Deleted On</th>
                    <td>@Model.DeletedOn</td>
                </tr>
                <tr>
                    <th>Created On</th>
                    <td>@Model.CreatedOn</td>
                </tr>
                <tr>
                    <th>Modified On</th>
                    <td>@Model.ModifiedOn</td>
                </tr>
                <tr>
                    <th>Registered Sensors</th>
                    <td>
                        @foreach (var sensor in Model.Sensors)
                        {
                            <p>@sensor.Name</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@if (Model.IsDeleted)
{
    <div>
        <a asp-area="Admin" asp-controller="ManageUsers" asp-action="DeleteUser" asp-route-id="@Model.Id"
           class="btn btn-info disabled" role="button">Delete</a>
    </div>
}
else
{
    <a class="btn btn-info delete"
       data-toggle="modal"
       data-target="#deleteModal"
       data-id="@Model.Id"
       data-area="Admin"
       data-controller="ManageUsers"
       data-action="DeleteUser"
       data-body-message="You are about to delete this user. Are you sure?"
       data-redirect-url="/Admin/ManageUsers/UserDetails/@Model.Id">Delete</a>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body delete-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-delete">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <a asp-controller="Home" asp-action="Index">Back to Admin panel</a>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="~/js/delete.js"></script>
}
