@model UserViewModel

<h2>Details</h2>
<hr />
<div class="clearfix">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th >Email</th>
                    <td >@Model.Email</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>@Model.Roles</td>
                </tr>
                <tr>
                    <th>Accepts GDPR Policy</th>
                    <td> @Html.DisplayFor(model => model.GDPR)</td>
                </tr>
                <tr>
                    <th>Status</th>
                    @if (Model.isDeleted)
                    {
                        <td>Deleted</td> }
                    else
                    {
                        <td>Active</td>
                    }
                </tr>
                <tr>
                    <th>Created On</th>
                    <td>@Model.CreatedOn</td>
                </tr>
                <tr>
                    <th>Modified On</th>
                    <td>@Model.ModifiedOn</td>
                </tr>
                <tr>
                    <th>Registered Sensors</th>
                    <td>
                        @foreach (var sensor in Model.Sensors)
                        {
                            <p> @sensor.Name</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Admin panel</a>
</div>