@model UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GDPR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GDPR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>


