@model ListUserSensorsViewModel
@{
    ViewData["Title"] = "ListUserSensors";
}

<h2>Registered Sensors</h2>
<table id="user-sensors" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-2 text-center">Name</th>
            <th class="col-md-2 text-center">Type</th>
            <th class="col-md-2 text-center">Min/Max Value</th>
            <th class="col-md-1 text-center">Update Time in Seconds</th>
            <th class="col-md-1 text-center">Latitude</th>
            <th class="col-md-1 text-center">Longitude</th>
            <th class="col-md-1 text-center">Access Level</th>
            <th class="col-md-1 text-center">Email Notification</th>
            <th class="col-md-1 text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model.UserSensors)
        {
        <tr>
            <td>@sensor.Name</td>
            <td>@sensor.SensorType.Name</td>
            <td>@(sensor.SampleSensor.MinValue + "/ " + sensor.SampleSensor.MaxValue + " " + sensor.SampleSensor.Measure.MeasureType)</td>
            <td>@sensor.UserPollingInterval</td>
            <td>@sensor.Latitude</td>
            <td>@sensor.Longitude</td>
            <td>@sensor.IsPrivate</td>
            <td>@sensor.SendNotification</td>           
            <td>
                <a asp-area="Admin" asp-controller="Home" asp-action="EditSensor" asp-route-id="@sensor.Id"
                   class="btn btn-info active" role="button">Edit</a>
            </td>
        </tr>
        }
    </tbody>   
</table>
@section Scripts {
    <script script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#user-sensors').DataTable();
        });
    </script>
}

