@model IEnumerable<UserSensorViewModel>

<h2>Registered Sensors</h2>
<h4>for user .........</h4>
<table id="user-sensors" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-2 text-center">Name</th>
            <th class="col-md-2 text-center">Type</th>
            <th class="col-md-2 text-center">Registered On</th>
            <th class="col-md-2 text-center">Modified On</th>
            <th class="col-md-1 text-center">Update Time in Seconds</th>
            <th class="col-md-1 text-center">Access Level</th>
            <th class="col-md-1 text-center">Notification</th>
            <th class="col-md-1 text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
        <tr>
            <td>@sensor.Name</td>
            <td>@sensor.SensorType.Name</td>
            <td>@sensor.CreatedOn</td>
            <td>@sensor.ModifiedOn</td>
            <td>@sensor.UserPollingInterval</td>
            @if (@sensor.IsPrivate)
            {
                <td>Public</td>
            }
            else
            {
                <td>Private</td>
            }
            @if (@sensor.SendNotification)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>
                <a asp-area="Admin" asp-controller="ManageSensors" asp-action="EditSensor" asp-route-id="@sensor.Id"
                   class="btn btn-info active" role="button">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-area="Users" asp-controller="Sensors" asp-action="ListSampleSensors"
       class="btn btn-info active" role="button"
       @*asp-route-id="" *@>Register New Sensor</a>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to Admin panel</a>
</div>

@section Scripts {
    <script script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#user-sensors').DataTable();
        });
    </script>
}

