@model IEnumerable<UserIndexModel>

<h2>My Sensors</h2>

<div class="clearfix">
    <table id="user-sensors" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-2 text-center">Sensor name</th>
                <th class="col-md-2 text-center">Sensor type</th>
                <th class="col-md-4 text-center">Description</th>
                <th class="col-md-1 text-center">Current value</th>
                <th class="col-md-1 text-center">Access level</th>
                <th class="col-md-1 text-center">View Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Model)
            {
                <tr>
                    <td>@sensor.Name</td>
                    <td>@sensor.SensorType</td>
                    <td>@sensor.Description</td>
                    @if (sensor.IsOnline)
                    {
                        <td>@sensor.CurrentValue</td>
                    }
                    else
                    {
                        <td class="text-center">Sensor is offline</td>
                    }
                    @if (!sensor.IsPrivate)
                    {
                        <td>Public</td>
                    }
                    else
                    {
                        <td>Private</td>
                    }
                    <td>
                        <a asp-area="Users" asp-controller="Sensors" asp-action="SensorDetails"
                           asp-route-userSensorid="@sensor.Id" class="btn btn-info active" role="button">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="map" style="height:250px; width:600px; float:right"></div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#user-sensors').DataTable();
        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSf7uuCGHIfwKEs5FjbBwG7ajA_0NuME4&callback=initMap">
    </script>

    <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 42.697708, lng: 23.321867 },
                zoom: 13
            });
              $.get("@Url.Action("ViewSensorsOnMap", "Sensors")", function(data)
            {
                    var marker = [];
                    for (var i = 0; i < data.length; i++) {
                        marker[i] = new google.maps.Marker({
                            position: { lat: parseFloat(data[i].Latitude), lng: parseFloat(data[i].Longitude)},
                            map: map,
                            title: data[i].Name
                        });
                    }
                }
            );
         }
    </script>
}