@model RegisterSensorModel

<h3>Register New @Model.Tag Sensor</h3>
<h4>"@Model.Description"</h4>

<hr />
<h4 class="text-danger">@TempData["Lng-Lat"]</h4>
<div class="clearfix">
    <form asp-action="RegisterNewSensor" method="post" name="registerForm">
        <div class="form-group col-md-6">
            <div class="form-row">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" type="text"
                       required minlength="3" maxlength="50" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="UserPollingInterval" class="control-label"></label>
                <input asp-for="UserPollingInterval" class="form-control"
                       value="@Model.UserPollingInterval" min="@Model.MinPollingInterval" />
                <span asp-validation-for="UserPollingInterval" class="text-danger"></span>
            </div>

            @if (!Model.MeasureType.Contains("true") && !Model.MeasureType.Contains("false"))
            {
                <h4 class="text-danger">@TempData["Invalid-Min-Max-Value"]</h4>
                <div class="form-group">
                    <label asp-for="UserMinValue" class="control-label"></label>
                    <input asp-for="UserMinValue" class="form-control"
                           type="number" value="@Model.UserMinValue"
                           required min="@Model.MinValue" max="@Model.MaxValue" />
                    <span asp-validation-for="UserMinValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserMaxValue" class="control-label"></label>
                    <input asp-for="UserMaxValue" class="form-control" value="@Model.UserMaxValue"
                           type="number" required min="@Model.MinValue" max="@Model.MaxValue" />
                    <span asp-validation-for="UserMaxValue" class="text-danger"></span>
                </div>
            }
            else
            {
                <input asp-for="UserMinValue" value="0" class="form-control hidden" />
                <input asp-for="UserMaxValue" value="1" class="form-control hidden" />
            }

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SendNotification" /> @Html.DisplayNameFor(model => model.SendNotification)
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPrivate" /> @Html.DisplayNameFor(model => model.IsPrivate)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div id="map" style="height:400px; width:400px;"></div>
            <input asp-for="Latitude" class="form-control" type="hidden" id="lat" value="" required />
            <span asp-validation-for="Latitude" class="text-danger"></span>
            <input asp-for="Longitude" class="form-control" type="hidden" id="lng" value="" required />
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Id" class="form-control hidden" />
            <input asp-for="SampleSensorId" class="form-control hidden" />
            <input asp-for="UserId" class="form-control hidden" />
            <input asp-for="MaxValue" class="form-control hidden" />
            <input asp-for="MinValue" class="form-control hidden" />
            <input asp-for="MeasureType" class="form-control hidden" />
            <input asp-for="MinPollingInterval" class="form-control hidden" />
            <input asp-for="Description" class="form-control hidden" />
            <input asp-for="Tag" class="form-control hidden" />
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-default" />
        </div>
    </form>
</div>

<div>
    <a asp-action="ListSampleSensors">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initMap();
        });
        var marker;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 42.697708, lng: 23.321867 },
                zoom: 13
            });
            map.addListener('click', function (event) {
                getCoordinates(event.latLng, map);
            });
            function getCoordinates(position, map) {
                if (!marker || !marker.setPosition) {
                    marker = new google.maps.Marker({
                        position: position,
                        map: map
                    });
                } else {
                    marker.setPosition(position);
                }
                $('#lat').val(position.lat);
                $('#lng').val(position.lng);
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSf7uuCGHIfwKEs5FjbBwG7ajA_0NuME4&callback=initMap">
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}