@model UserSensorDetailsModel

<h2>Sensor Details</h2>

<div class="clearfix text-center">
    <div class="col-md-6">
        <h3>Information</h3>
        <hr />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Update Sensor Interval</th>
                    <td>@Model.UserPollingInterval</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>@Model.Latitude</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>@Model.Longitude</td>
                </tr>
                <tr>
                    <th>Notify me if Sensor Values are Out Of Range</th>
                    <td>
                        <div class="checkbox">
                            <input class="col-md-6" asp-for="@Model.SendNotification" disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>This Sensor is Visible only for Me</th>
                    <td>
                        <div class="checkbox">
                            <input class="col-md-6" asp-for="@Model.IsPrivate" disabled>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <h3>Value</h3>
        <hr />
        @if (!Model.MeasureType.Contains("true") && !Model.MeasureType.Contains("false"))
        {
            <div class="center-block GaugeMeter" id="GaugeMeter_1"
                 data-text_size=0.19
                 data-size="250"
                 data-width="10"
                 data-style="Arch"
                 data-theme="Green-Gold-Red"
                 data-animationstep=0
                 data-animate_gauge_colors=true
                 data-animate_text_colors=true></div>
        }
        else
        {
            <div class="center-block GaugeMeter" id="GaugeMeter_1"
                 data-label=" "
                 data-text=" "
                 data-size="100"
                 data-width="250"
                 data-style="Full"
                 data-theme="Red-Green"
                 data-animationstep=0
                 data-animate_gauge_colors=true
                 data-animate_text_colors=true></div>
        }
        <div id="error" hidden>
            <h4><span style="color:red">There is no connection to the applications at this moment</span></h4>
        </div>
    </div>
</div>

<div>
    <a asp-area="Users" asp-controller="Sensors" asp-action="EditSensor" asp-route-id="@Model.Id"
       class="btn btn-info active" role="button">
        Edit
    </a>
    <br />
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/GaugeMeter.js"></script>
    <script>
        const pollingInterval = @Model.UserPollingInterval * 1000;
        const url = "/api/value" + "?sensorId=" + "@Model.SampleSensorId";

        runChart();

        $(document).ready(function () {
            setInterval(runChart, pollingInterval)
        });

        function runChart() {
            $.get(url, function () {
                if ($('#GaugeMeter_1').is(":hidden")) {
                    $('#GaugeMeter_1').show();
                    $('#error').hide();
                }
            })
               .fail(function () {
                   $('#GaugeMeter_1').hide();
                   $('#error').show();
               })
               .then(data =>
                   $("#GaugeMeter_1").gaugeMeter({
                       text: data,
                       used: data - @Model.UserMinValue,
                       total: @Model.UserMaxValue - @Model.UserMinValue,
                       label: "@Model.Type",
                       append: "@Model.MeasureType"
                   })
            );
        };
    </script>
}

@section Styles{
    <link href="~/css/GaugeStyle.css" rel="stylesheet" />
}
