@model UserSensorViewModel

<h2>Sensor Details</h2>
<div class="clearfix">
    <div class="col-md-6 text-center">
        <h3>Information</h3>
        <hr />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Update Sensor Interval</th>
                    <td>@Model.UserPollingInterval</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>@Model.Latitude</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>@Model.Longitude</td>
                </tr>
                <tr>
                    <th>Send Email if Sensor Values are Out Of Range</th>
                    <td>@Html.DisplayFor(model => model.SendNotification)</td>
                </tr>
                <tr>
                    <th>This Sensor is Visible only for Me</th>
                    <td>@Html.DisplayFor(model => model.IsPrivate)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <h3>Value</h3>
        <hr />
        <div class="chart" id="graph"></div>
    </div>
</div>

<div>
    <a asp-area="Users" asp-controller="Sensors" asp-action="EditSensor" asp-route-id="@Model.Id"
       class="btn btn-info active" role="button">
        Edit
    </a>
    <br />
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    //<script src="~/js/test.js"></script>
}

@section Styles{
    <style>
        #graph {
            position: relative;
            margin: 20px;
            width: 120px;
            height: 120px;
        }

        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            color: #555;
            display: block;
            line-height: 220px;
            text-align: center;
            width: 220px;
            font-family: sans-serif;
            font-size: 40px;
            font-weight: 100;
            margin-left: 5px;
        }

        input {
            width: 200px;
        }

        span {
        }

        .table {
        }
    </style>
}
